*{
  box-sizing: border-box;
}

html{
  background-color: #101010;
  font-family: sans-serif;
}

body{
  margin: 0;
  width: 100%;
  height: 100%;
}

#header{
  position: absolute;
  left: 0; top: 0; right: 0; height: 4rem;
  border-bottom: 1px solid #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

#logo{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#logo img{
  height: 100%;
}

#header .title{
  font-size: 2rem;
  font-weight: bolder;
  color: #ffaa00;
}

#header .title .accent1{
  color: #ffffff;
}

#container{
  position: absolute;
  left: 0; top: 4rem; right: 0; bottom: 5rem;
  /**background: linear-gradient( #101010, #320800, #280000, #320800, #ee4400 );**/
  background: url('../img/3dblocks.webp'),linear-gradient( #ee4400, #280200 60%, #101010 );
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

#options-container{
  flex-grow: 1;
  height: 100%;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  background-color: #ffffff10;
  border-left: 1px solid #000000cc;
  border-right: 1px solid #000000cc;
  background-image: url('../img/busdx_blur.png');
  background-position: center;
}

#options-container .top-container{
  flex-grow: 1;
  width: 100%;
  padding: 1rem;
  max-height: 25%;
}

#wallet-form{
  width: 100%;
  height: 100%;
  flex-grow: 1;
  background-color: #101010dd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border: 1px solid #ffffffaa;
  border-radius: 2rem;
}

#wallet-form button{
  font-size: 1rem;
  padding: .5rem;
  width: 40%;
}

#wallet-address{
  width: 100%;
  font-size: 1.2rem;
  padding: .5rem;
  background-color: #ffffff;
  border: none;
  outline: none;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

#options-container .bottom-container{
  flex-grow: 3;
  width: 100%;
  padding: 1rem;
  overflow-y: hidden;
  flex-shrink: 1;
}

#options-container .middle-container{
  flex-grow: 1;
  width: 100%;
  padding: 2rem;
  font-size: 3rem;
  max-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  color: #aaffaa;
  background-color: #101010ee;
}

#reflection-frame{
  height: 100%;
}

#reflection-list{
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  background-color: #10101099;
  padding: 1rem;
}

.reflection{
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #10101064;
  border: 1px solid #ffffffaa;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.reflection .date{
  color: #ffffcc;
}

.reflection .filler{
  flex-grow: 1;
}

.reflection .value{
  color: #aaffaa;
}

#footer{
  position: absolute;
  left: 0; bottom: 0; right: 0; height: 5rem;
  border-top: 1px solid #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#footer h2{
  padding-left: 1rem;
  padding-right: 1rem;
  magin: 0;
  color: #efefef;
}

#footer img{
  height: 90%;
}

#footer .filler{
  height: 100%;
  flex-grow: 1;
}

#tip-address{
  height:100%;
  color: #f0f0f0;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#tip-address #qr-code{
  position: absolute;
  right: 4rem; bottom: 4rem;
  width: 0px;
  height: 0px;
  transition: height .5s, width .5s;
}

#tip-address:hover #qr-code{
  display: block;
  height: 300px;
  width: 300px;
}
